body{
 background-position: 0vmax;
 background-attachment: fixed;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
}
.jumbotron{
  background-color:bisque;
}
.container{
  background-color: bisque;
}

h1{
  text-align: center;
  color: crimson;
}
h2{
  color:crimson;
  margin-left: 40px;
}
h3{
  text-align: center;
}
h4{
  margin-left: 40px;
}

h6{
  text-align: center;
}

p{
  text-align: justify;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 17px;
}

#info{
  text-align: center;
}
#imagen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}
#mensaje{
  margin-top: 15px;
  color: darkblue;
  font-style: italic;
}
.col-md-8{
  margin-top: -5px;
}

#punto{
  margin-top: 35px;
}
#per{
  text-align: center;
}

